<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

 <aside class="main-sidebar sidebar-light-primary elevation-4" th:fragment="sidebar(menu, user)">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img th:src="@{/dist/img/favicon.ico}" alt="Maulee Multistate Logo" class="brand-image "
           >
      <span class="brand-text font-weight-light"><img th:src="@{/dist/img/maulee-without-tagline.png}" alt="Maulee Multistate Logo"  th:width="175px"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
       <div class="image">
          <img th:src="@{${filePath}+${user.userPhoto}}" class="img-circle elevation-2" alt="User Image" id="sidebar-profile-picture">
        </div> 
        <div class="info">
        <a href="#" class="d-block"  th:text="${user.name}"></a> <!-- 'Welcome, '+  -->
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item" th:if="${user.role} == 'ROLE_ADMIN'">
            <a th:href="@{/dashboard}" class="nav-link" th:classappend="${menu.dashboardLink}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          
          <li class="nav-item" th:if="${user.role} == 'ROLE_USER'">
            <a th:href="@{/dashboard}" class="nav-link" th:classappend="${menu.dashboardLink}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          
          <li class="nav-item has-treeview" th:classappend="${menu.userMenuOpen}" th:if="${user.role} == 'ROLE_ADMIN'"> 
            <a href="#" class="nav-link" th:classappend="${menu.userLink}">
              <i class="nav-icon fas fa-user-circle"></i>
              <p>
                 Users
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview ">
              <li class="nav-item">
                <a th:href="@{/add-user}" class="nav-link" th:classappend="${menu.addUserLink}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add User</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/view-users}" class="nav-link" th:classappend="${menu.viewUserLink}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View Users</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item has-treeview" th:classappend="${menu.branchMenuOpen}" > 
            <a href="#" class="nav-link" th:classappend="${menu.branchLink}">
              <i class="nav-icon fas fa-sitemap"></i>
              <p>
                 Branches
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview ">
              <li class="nav-item">
                <a th:href="@{/add-branch}" class="nav-link" th:classappend="${menu.addBranchLink}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Branch</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/view-branches}" class="nav-link" th:classappend="${menu.viewBranchLink}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View Branches</p>
                </a>
              </li>
            </ul>
          </li>
          
           <li class="nav-item has-treeview" th:classappend="${menu.employeeMenuOpen}" > 
            <a href="#" class="nav-link" th:classappend="${menu.employeeLink}">
              <i class="nav-icon fas fa-users"></i>
              <p>
                 Employees
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview ">
              <li class="nav-item">
                <a th:href="@{/add-employee}" class="nav-link" th:classappend="${menu.addEmployeeLink}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Employee</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/view-employee}" class="nav-link" th:classappend="${menu.viewEmployeeLink}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View Employees</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item has-treeview" th:classappend="${menu.transactionMenuOpen}" > 
            <a href="#" class="nav-link" th:classappend="${menu.transactionLink}">
              <i class="nav-icon fas fa-file"></i>
              <p>
                 Transaction
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview ">
              <li class="nav-item">
                <a th:href="@{/add-transaction}" class="nav-link" th:classappend="${menu.addTransactionLink}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Transaction</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/view-transaction}" class="nav-link" th:classappend="${menu.viewTransactionLink}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View Transaction</p>
                </a>
              </li>
               <li class="nav-item">
                <a th:href="@{/branch-transaction-report}" class="nav-link" th:classappend="${menu.branchReportTransactionLink}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Branch Wise Report</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/employee-transaction-report}" class="nav-link" th:classappend="${menu.employeeReportTransactionLink}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Employee Wise Report</p>
                </a>
              </li>
            </ul>
          </li>
          
         </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</body>
</html>